

nav {

	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-family: ;
}

nav a {
		font-family: "Playfair Display", serif;
		text-align: center;
		text-decoration: none;
		justify-content: center;
/*		width: 100%;*/
		padding: 0.2rem;
		margin: 0.1rem;
		background: white;
		border-radius: 0.1rem;
		border: 1px solid white;
		color: black;
	}

nav a:visited {
	color: red;
}

nav a:hover {
	color: white;
	background-color: white;
}

body {
	 scrollbar-color: red orange;
  scrollbar-width: thin;
	background: lightgray;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-family: "Roboto", sans-serif;
/*	max-width: 900px;*/
}
 section {

 	margin: 0.1rem;
 }

main {
	display: flex;

}


body section .lead-image {
	display: flex;
	justify-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

title {

}

h1 {
	display: flex;
	justify-content: center;
	font-family: "Anta", sans-serif;
	font-size: 4rem;
	
}

.lead-image {
	display: flex;
	justify-content: center;

}

.lead-image img {
	margin: auto;
	object-fit: contain;
	max-width: 100%;
}

p {
	font-family: "Crimson Text", serif;
	font-size: 1.2rem;
	color: black;
	display:inline-block;
}

li {
	font-family: ;
	font-size: 1rem;
	color: black;
}

img {
	max-width: 100%;
	padding: 5px;
	margin: auto;

}

body img {

}

a:link {
	color: red;
	text-decoration: none;
}


#test {
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.text-highlight {
	background: black;
	color: black;
	padding-left: 1rem;
}




.shadow {
	text-shadow: 10px 1px 2px orangered;	
}

.copyright {
	font-size: 0.9rem;
}

.flex-example {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
  gap: 10px 20px; 
  row-gap: 10px;
  column-gap: 10px;
}



footer a {
	color: darkcyan;
}


*/
@media (max-width:200px) {
	body {
		background: lightgray;
	}
	img {
		max-width: 100%;
	}

}

@media (min-width: 201px) and (max-width:575px) {
	body {
		
		background: lightgray;

	}

	p {
		color: #d6d6d6;
	}
	nav {
		display: flex;
		flex-direction: column;
		

		margin: 0.2rem;
		margin-right: 1rem;
		margin-left: 1rem;
	}

	nav a {
		font-family: "Anta", sans-serif;
		text-align: center;
		text-decoration: none;
		justify-content: center;
		width: 100%;
		padding: 0.2rem;
		margin: 0.1rem;
		background: #ffbb76;
		border-radius: 0.1rem;
		border: 1px solid #76baff;
		color: black;
	}

nav a:visited {
	color: black;
	
}

nav a:link {
	color: black;

}



	main {
	display: flex;
	flex-direction: column;
}
section {
	margin-top: 1rem;
}


	h1 {
		font-size: 2rem;
		background: #b17200;
		color: blue;
		text-align: center;
	}
	img {

	}

	.lead-image {
	display: flex;
	justify-content: center;
	max-width: 95%;
}

.lead-image img {
	margin: 0 auto;
	object-fit: contain;
	max-width: 100%;
	border: 5px solid crimson;
	border-radius: 15rem;
}

a:link {
	color: skyblue;
}
a:visited {
	color: purple;
}

a:hover {
	color: pink;
}

ol li {
	color: lightgray; !important;
}

ul {
	list-style-type: none;
}

.list45 {
	font-size: 5rem;
}

}

@media (min-width: 576px) and (max-width:768px) {
	body {
		background: linear-gradient(blue, red);
	}
}


@media (min-width: 769px) and (max-width:1000px) {
	body {
		background: lightgray;
	}
}

@media (min-width: 1001px)  {
 	body {
 		background: lightgray;
	}
}