.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

body {
	background-color: rgba(229, 172, 103, 0.5);
	overflow: scroll; 
}



nav {

	background-color: white;
	max-width: 800px;
	margin: auto;
	font-size: 1.5em;
	border-radius: 0.2rem;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-between;
	
}

nav ul li {
	background-color: white;
	flex-flow: row wrap;
	align-items: stretch;
	list-style-type: none;
	padding: 1rem;
	max-width: 100%;
	border-radius: 0.1rem;

}

nav ul li a {
	font-family: 'Playfair Display', serif;
	text-decoration: none;
	color: black;
}

nav ul li a:visited {
	color: black;
}

nav ul li a:hover {
	text-decoration: ;
	color: red;
}

 
}*/

a:hover {

}


main {
	max-width: 800px;
	margin: auto;
	font-size: 1.4rem;
}


p {
	font-family: font-family: 'Noto Sans', sans-serif;
}




footer {
	font-family: 'Playfair Display', serif;
	font-weight: 200;
	color: black;
	max-width: 800px;
	margin: auto;
	

}

h1 {
	font-family: 'Angkor', serif;
	font-weight: 900;
	margin: 0rem;
}

h2 {
	font-size: 2.5rem;
	text-transform: capitalize;
}

h3 {
	font-family: 'IBM+Plex', monospace;

}




h4 {

}

p {
	font-family: 'IBM Plex Sans', sans-serif;
}








.button_holder {
	display: flex;
	flex-direction: row;
}

button_next {  }
button_previous {  }

.stepper {  }

button {
	background-color: gray;
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

.button-start {
}

.gallery-image {
	max-width: 80%;

}

.gallery-image img {
	width: 100%;
}

.hideThis {
	display: none;
}

example-image {
	display: flex;
	flex-direction: column;
	margin: 3rem;

}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
  	margin: 1rem;
}

.listings2 {
	display: flex;
	flex-wrap: wrap;
}


.list-item {
	display: flex;
/*	flex-wrap: wrap;*/
	box-shadow: inset 1rem 1rem white;
	border-radius: 1px;
}



.list-item h2 {
	display: flex;
	font-family: "Angkor", serif;
}

.date-label {

}


.list-item .date-label {
	display: flex;
	font-weight: 200;
	margin-left: 1rem;
}

.list-item .desc-label {
	display: flex;
	font-weight: 400;
	margin-left:1rem;
	padding: 0.25rem;
	margin-top: -1rem;

}

.list-link {


}

.list-image {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}
   
.img-credit {
	    
    	position: absolute;
    	bottom: 0;
    	right: 0;
    	z-index: 3;
    	color: white;
	    font-family: 'IBM Plex Mono', monospace;
    	font-size: 0.8rem;
    	padding: 1rem;
}

.img-credit a {
	color: white;
	text-shadow: black 1px 0 10px;
	background: black;
	border-radius: 2px;

}

/**/

.list-image img{

	max-width: 200px;
	margin: 1rem;
	box-shadow: 6px 6px white;
	border-radius: 0.3rem;
	
}




.fancy-text {
	font-family: 'Nabla', cursive;

}

.fancy-background {
	background-color: gray;
	padding: 1rem;
}

.fancy-background .fancy-text {
	font-size: xx-large;
}

.background-blue h3 {
	background: white;
}

.greens {
background-color: gray;
}

.flex-example {
	display: flex;

}

.flex-example-space {
	margin:1rem;
}


.mailing-link {
	display: flex;
}

.mailing-link img {
	display: flex;
	border-radius: 5rem;
	max-width: 400px;
	justify-content: center;
}

.lead-image img {
	float: right;
/*	width: 100%;*/
/*	margin: 1rem;*/
	margin: auto;
	border-radius: 20rem;
	filter: drop-shadow(0 0 0.75rem #913814);
}

.lead-image {
	width: 100%;
	padding: 3rem;
}

.mailing-link a {

}

.listings {
background-color: white;
}





.monotype {
			font-family: 'IBM+Plex', monospace;
		}


}
*/
.intro {
	background-color: white;
}


.list-intro {
	margin: 2rem;
	padding: 2rem;
	background-color: white;
}

@media screen and (max-width: 500px){



body {
		background-color: lightgray;
}

main {
	width: 100%
}

img {
		align-items: center;
/*		width: 100%;*/
	}

h1 {
	font-weight: 700;
	text-decoration: underline 2rem solid gold;
}

h2 {
	font-weight: 500;
	font-size: 2.3rem;
}

p {
	font-size: 1.5rem;
	}


nav ul li {
	flex-flow: row wrap;
	list-style-type: none;
	padding: 0.1rem;
	text-align: center;
	margin-top: 0.15rem;
}

nav ul li a {

	text-decoration: none;
	text-transform: uppercase;
}



.flex-example {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;



}

.flex-example-space {
	margin:1rem;
}












}
@media screen and (min-width:501px){
	body {
		background-color: lightgray;
}





	}







	body {
}
